#! /usr/bin/make -f

DEB_PYTHON_SYSTEM := pysupport

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

#binary-post-install/fts::
#	install --mode=600 fts.conf debian/gosa.agent/etc/gosa/config.d/libinst.conf

clean::
# Hack to work around "setup.py clean" creating pyc files
	find . -name \*.pyc -print0 | xargs -r0 rm
