Source: python-jsonrpc
Section: python
Priority: optional
Maintainer: Cajus Pollmeier <cajus@debian.org>
Build-Depends: debhelper (>= 5.0.37.1), cdbs (>= 0.4.41), python-all (>= 2.6), python-support (>= 0.6.4)
Build-Depends-Indep: python-setuptools (>= 0.6a9)
Standards-Version: 3.8.3
Homepage: http://svn.json-rpc.org/trunk/python-jsonrpc

Package: python-jsonrpc
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-pkg-resources
Description: python json-rpc support class
 JSON-RPC is lightweight remote procedure call protocol similar to XML-RPC.
