Source: python-pytz
Section: python
Priority: optional
Maintainer: Cajus Pollmeier <cajus@debian.org>
Build-Depends: debhelper (>= 5.0.37.1), cdbs (>= 0.4.41), python-all (>= 2.6), python-support (>= 0.6.4)
Build-Depends-Indep: python-setuptools (>= 0.6a9)
Standards-Version: 3.8.3
Homepage: http://svn.json-rpc.org/trunk/python-jsonrpc

Package: python-pytz
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-pkg-resources
Description: World timezone definitions, modern and historical
 pytz brings the Olson tz database into Python. This library allows 
 accurate and cross platform timezone calculations using Python 2.4
 or higher. It also solves the issue of ambiguous times at the end
 of daylight savings, which you can read more about in the Python
 Library Reference (datetime.tzinfo).
