#! /usr/bin/make -f

DEB_PYTHON_SYSTEM := pysupport
DEB_DH_INSTALLINIT_ARGS := -n

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

binary-post-install/gosa.agent::
	mv debian/gosa.agent/usr/bin/gosa-agent debian/gosa.agent/usr/sbin/gosa-agent
	rm -rf debian/gosa.agent/usr/bin
	mkdir -p debian/gosa.agent/etc/gosa
	install --mode=600 debian/gosa.agent/usr/share/pyshared/gosa/agent/data/agent.conf debian/gosa.agent/etc/gosa/config
	install --mode=600 debian/default debian/gosa.agent/etc/default/gosa.agent

	
clean::
# Hack to work around "setup.py clean" creating pyc files
	find . -name \*.pyc -print0 | xargs -r0 rm
