Source: python-qpid
Section: misc
Priority: extra
Maintainer: Cajus Pollmeier <cajus@debian.org>
Uploaders: Cajus Pollmeier <cajus@debian.org>
Build-Depends: debhelper (>= 7), python-support, python-setuptools
Standards-Version: 3.8.4
Homepage: http://qpid.apache.org

Package: python-qpid
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-setuptools
Description: Python bindings for qpid/mlib
 Qpid/C++ is a C++ implementation of the AMQP protocol described at
 http://amqp.org/
 .
 This package contains the qpid python bindings.
