#! /usr/bin/make -f

DEB_PYTHON_SYSTEM := pysupport
DEB_DH_INSTALLINIT_ARGS := -n

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

binary-post-install/gosa.client::
	mv debian/gosa.client/usr/bin/gosa-client debian/gosa.client/usr/sbin/gosa-client
	mkdir -p debian/gosa.client/etc/gosa
	install --mode=660 debian/gosa.client/usr/share/pyshared/gosa/client/data/client.conf debian/gosa.client/etc/gosa/config

clean::
# Hack to work around "setup.py clean" creating pyc files
	find . -name \*.pyc -print0 | xargs -r0 rm
