Source: gosa.shell
Section: misc
Priority: optional
Maintainer: Cajus Pollmeier <cajus@debian.org>
Build-Depends: debhelper (>= 5.0.37.1), cdbs (>= 0.4.41), python-all (>= 2.6),
 python-support (>= 0.6.4), python-nose, python-kid, python-coverage, pylint,
 python-pygments (>= 1.0), python-logilab-astng (>= 0.21.1),
 python-logilab-common (>= 0.53.0), python-unittest2 (>= 0.5.1),
 python-nosexunit (>= 0.3.3+svn)
Build-Depends-Indep: python-setuptools (>= 0.6a9)
Standards-Version: 3.8.3
Homepage: http://gosa-project.org

Package: gosa.shell
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-pkg-resources, gosa.common
Description: Next generation GOsa service
 This is the client package.
